<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ escape(handler.settings["web_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("index.css") }}" type="text/css">
    <!-- <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["web_title"]) }}"> -->
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div style="float:right">
          {% if current_user %}
            <span>Hello, {{ current_user.name }} - </span>
            <a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Logout") }}</a> - 
            <a href="/auth/changepwd">{{_("Change Password")}}</a>
          {% else %}
            {% raw _('<a href="%(signupurl)s">Sign up</a> or <a href="%(loginurl)s">Login</a> to view webcam') % {"signupurl": "/auth/signup?next=" + url_escape(request.uri), "loginurl": "/auth/login?next=" + url_escape(request.uri)} %}
          {% end %}
        </div>
        <h1><a href="/">{{ escape(handler.settings["web_title"]) }}</a></h1>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>