{% extends "base.html" %}

{% block head%}
{% end %}

{% block body%}
	<!-- <div class="col-lg-11 text-center text-info" style="color: black">
		<h2>这里是ZS天眼的主页！</h2>
	</div> -->
	{% if current_user %}
	    <div class="row">
            <div class="col-lg-12">
                {# <h1 class="page-header">Web Camera</h1> #}
                <p> </p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
        {% for url in urls%}
        	<div class="col-lg-4">
        		<div class="panel panel-default" id="video_panel_{{url}}">
        			<div class="panel-heading">Video from {{url}}</div>
        			<div class="panel-body">
						<a href="/detail?video={{url}}"><img id="videofield_{{url}}" class="video" src="/video_feed?video={{url}}" height="100%" width="100%"></a>
					</div>
				</div>
        	</div>
        {% end %}
        </div>
	{% else %}
		<div class="col-lg-12 text-center text-info">
			<h2>Please login to browse our website.</h2>
		</div>
	{% end %}

{% block bottom%}
	{% if current_user %}
		<script type="text/javascript" charset="utf-8" src="{{ static_url("index.js") }}"></script>
	{% end %}
{% end %}

{% end %}