{% extends "base.html" %}

{% block head%}

	{% if current_user %}
		<script type="text/javascript" charset="utf-8" src="{{ static_url("index.js") }}"></script>
	{% end %}

{% end %}

{% block body%}
	<div class="col-lg-11 text-center text-info" style="color: black">
		<h2>这里是ZS天眼的主页！</h2>
	</div>
	{% if current_user %}
		<!-- <div class="mecenter"> -->
			<img id="videofield" class="video" src="/video_feed"><br>
			<div id="wswarning"></div>
		<!-- </div> -->
		<!-- <img id="wscam" src="/"> -->
	{% else %}
		<p>Please login to view webcam.</p>
	{% end %}

{% end %}